ul {
    list-style-type:none;
    padding-left: 0pt;
}

img {
    width: 100%;
    border-radius: 50%;
}

#wrapper-social-media {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    border: 1px solid red;
}

#wrapper-movies {
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
}


li {
    display:inline;
}


.grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-top {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    border: 1px solid black;
}

.grid-movie {
    display: grid;
    grid-template-columns: 50% 50%;
}

#test {
    border: 5px solid red;
}
